.App-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2E5077;;
    border-bottom: 2px solid var(--mint);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.App-header-left {
    font-size: 2rem;
    font-weight: bold;
    color: var(--mint);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.App-header-left:hover {
    color: var(--white);
    transform: scale(1.05) rotate(-1deg);
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    cursor: pointer;
}


.App-header-right {
    background-color: var(--teal);
    color: var(--white);
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.App-header-right:hover {
    background-color: var(--mint);
    color: var(--navy);
    transform: translateY(-2px);
}
