@import "stylesheets/ConnectionForm.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --navy: #2E5077;
  --teal: #4DA1A9;
  --mint: #79D7BE;
  --white: #F6F4F0;
}

body {
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  padding: 2rem;
  width: fit-content;
  background-color: var(--navy);
  border-radius: clamp(1em, 0em, 1em);
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.travel-type-button {
  background-color: var(--mint);
  border: none;
  color: white;
  padding: 0.8em 1.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  font-family: 'Arial', sans-serif;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.selected {
  background-color: var(--teal);
}

.travel-type-button:hover {
  background-color: var(--teal);
}

.input-content {
  padding: 0.8em 1.4em;
  font-size: 1rem;
  width: 15em;
  font-family: 'Arial', sans-serif;
  color: var(--white);
  background-color: var(--teal);
  border: 0.1em solid #ddd;
  border-radius: clamp(0.5em, 0em, 0.5em);
  outline: none;
  box-sizing: border-box;
}

.input-label {
  margin-bottom: 0.5em;
}

.submit-button {
  padding: 0.8em 1.4em;
  margin-top: 1rem;
  background-color: var(--mint);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  font-family: 'Arial', sans-serif;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background-color: var(--teal);
}

.error-message {
  color: #ff5e5e;
}
